<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:m="http://typo3.org/ns/CPSIT/Typo3Mailqueue/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr class="{f:render(section: 'rowClass', arguments: {state: queueItem.state, date: queueItem.date, delayThreshold: delayThreshold}) -> f:spaceless()}">
    <td class="col-icon align-top">
        <f:render partial="Modal/ConfirmDelete" arguments="{queueItem: queueItem, iterator: iterator}" />

        <f:switch expression="{queueItem.state.value}">
            <f:case value="failed">
                <span class="badge badge-danger d-block">{f:translate(key: 'queueItem.state.failed', extensionName: 'Mailqueue')}</span>

                <f:if condition="{queueItem.failure}">
                    <f:render partial="Modal/TransportFailureDetails" arguments="{queueItem: queueItem, iterator: iterator}" />
                </f:if>
            </f:case>
            <f:case value="queued">
                <f:if condition="{queueItem.date} && {queueItem.date -> m:dateInterval()} >= {delayThreshold}">
                    <f:then>
                        <span class="badge badge-warning d-block">{f:translate(key: 'queueItem.state.late', extensionName: 'Mailqueue')}</span>
                    </f:then>
                    <f:else>
                        <span class="badge badge-info d-block">{f:translate(key: 'queueItem.state.queued', extensionName: 'Mailqueue')}</span>
                    </f:else>
                </f:if>
            </f:case>
            <f:case value="sending">
                <f:if condition="{queueItem.date} && {queueItem.date -> m:dateInterval()} >= {delayThreshold}">
                    <f:then>
                        <span class="badge badge-warning d-block">{f:translate(key: 'queueItem.state.late', extensionName: 'Mailqueue')}</span>
                    </f:then>
                    <f:else>
                        <span class="badge badge-warning d-block">{f:translate(key: 'queueItem.state.sending', extensionName: 'Mailqueue')}</span>
                    </f:else>
                </f:if>
            </f:case>
            <f:defaultCase>
                <span class="badge badge-notice d-block">{f:translate(key: 'queueItem.state.unknown', extensionName: 'Mailqueue')}</span>
            </f:defaultCase>
        </f:switch>
    </td>
    <td class="align-top">
        <f:if condition="{queueItem.date}">
            <f:render partial="Date" arguments="{date: queueItem.date}" />
        </f:if>
    </td>
    <td class="align-top">
        <f:if condition="{queueItem.message.message.subject}">
            <f:then>
                {queueItem.message.message.subject}
            </f:then>
            <f:else if="{queueItem.message.originalMessage.subject}">
                {queueItem.message.originalMessage.subject}
            </f:else>
            <f:else>
                <em>{f:translate(key: 'queueItem.subject.unknown', extensionName: 'Mailqueue')}</em>
            </f:else>
        </f:if>
    </td>
    <td class="align-top">
        <f:for each="{queueItem.message.envelope.recipients}" as="recipient">
            <f:render partial="Mail/Address" arguments="{address: recipient}" /><br>
        </f:for>
    </td>
    <td class="align-top">
        <f:render partial="Mail/Address" arguments="{address: queueItem.message.envelope.sender}" />
    </td>
    <td class="align-top nowrap col-control">
        <div class="btn-group">
            <f:if condition="{queueItem.state.value} == 'failed' && {queueItem.failure}">
                <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal"
                        data-bs-target="#queue-item-{iterator.cycle}-info-modal"
                        title="{f:translate(key: 'button.info', extensionName: 'Mailqueue')}"
                >
                    <c:icon identifier="actions-info" />
                </button>
            </f:if>

            <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal"
                    data-bs-target="#queue-item-{iterator.cycle}-delete-modal"
                    title="{f:translate(key: 'button.delete', extensionName: 'Mailqueue')}"
            >
                <c:icon identifier="actions-delete" />
            </button>

            <f:be.link route="system_mailqueue" parameters="{send: queueItem.id}" class="btn btn-default btn-sm"
                       title="{f:translate(key: 'button.send', extensionName: 'Mailqueue')}"
            >
                <c:icon identifier="actions-paperplane" />
            </f:be.link>
        </div>
    </td>
</tr>

<f:section name="rowClass">
    <f:switch expression="{state.value}">
        <f:case value="queued"><f:if condition="{date} && {date -> m:dateInterval()} >= {delayThreshold}">warning</f:if></f:case>
        <f:case value="failed">danger</f:case>
        <f:case value="sending">warning</f:case>
    </f:switch>
</f:section>

</html>
