services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  CPSIT\Typo3Mailqueue\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Enums/*'
      - '../Classes/Exception/*'
      - '../Classes/Mail/*'
      - '../Classes/Traits/*'

  CPSIT\Typo3Mailqueue\Command\ListQueueCommand:
    tags:
      - name: console.command
        command: 'mailqueue:listqueue'
        description: 'List all currently enqueued mails'
        schedulable: false
