parameters:
	ignoreErrors:
		-
			rawMessage: Cannot access offset 'MAIL' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../Classes/Controller/MailqueueModuleController.php

		-
			rawMessage: Cannot access offset 'Objects' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../Classes/Extension.php

		-
			rawMessage: Cannot access offset 'SYS' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../Classes/Extension.php

		-
			rawMessage: Cannot access offset 'TYPO3\\CMS\\Core\\Mail\\FileSpool' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../Classes/Extension.php

		-
			rawMessage: Cannot access offset 'TYPO3\\CMS\\Core\\Mail\\MemorySpool' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../Classes/Extension.php
