<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="{layout}" />

<f:section name="Content">
    <h1>{f:translate(key: 'header.list', extensionName: 'Mailqueue')}</h1>

    <f:if condition="{unsupportedTransport}">
        <f:then>
            <f:render partial="List/UnsupportedTransport" arguments="{
                transport: unsupportedTransport,
                typo3Version: typo3Version
            }" />
        </f:then>
        <f:else>
            <f:render partial="List/Queue" arguments="{
                delayThreshold: delayThreshold,
                deleteResult: deleteResult,
                failing: failing,
                longestPendingInterval: longestPendingInterval,
                pagination: pagination,
                paginator: paginator,
                queue: queue,
                sendResult: sendResult
            }" />
        </f:else>
    </f:if>
</f:section>

</html>
